{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="header__logo">
                <h3>Motor Thrills Ltd</h3>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="header__nav">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'webapp:index' %}">Home</a></li>
                        <li><a href="{% url 'webapp:cars' %}">Cars</a></li>
                        <li><a href="{% url 'webapp:about_us' %} ">About</a></li>
                        <li><a href="{% url 'webapp:contact_us' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="canvas__open">
        <span class="fa fa-bars"></span>
    </div>
</div>