{% extends "common/base.html" %}
{% load static %}

{% block main_content %}

    <!-- Breadcrumb End -->
    <div class="breadcrumb-option set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %} ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>About Us</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'webapp:index' %}"><i class="fa fa-home"></i> Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Begin -->

    <!-- About Us Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title about-title">
                        <h2>Wellcome to Motor Thrills Ltd <br/>Your one stop motor vehicle shopping center.</h2>
                        <p>We List all major car dealers and aggregate their vehicle in one website for easy of comparison and quick decision-making without multiple clicks.</p>
                    </div>
                </div>
            </div>
            <div class="about__feature">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about__feature__item">
                            <img src="{% static 'img/about/af-1.png' %}" alt="">
                            <h5>Quality Vehicle </h5>
                            <p>We get top-notch dealers with reputable business for your choice.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about__feature__item">
                            <img src="{% static 'img/about/af-2.png' %}" alt="">
                            <h5>Accurate Search</h5>
                            <p>Do you wish to compare different dealers without multiple searches? Say No more. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="about__feature__item">
                            <img src="{% static 'img/about/af-3.png' %}" alt="">
                            <h5>Latest Technology</h5>
                            <p>We use the latest data aggregation and web scraping techniques to give you the best experience in car buying.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="{% static 'img/about/about-pic.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about__item">
                        <h5>Our Mission</h5>
                        <p>Be the best in vehicle search and buying</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about__item">
                        <h5>Our Vision</h5>
                        <p>Provide quality and reliable vehicle search and buying information</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Call Section Begin -->
    <section class="call spad set-bg" data-setbg="{% static 'img/about/call-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="call__text">
                        <div class="section-title">
                            <h2>Leave a review</h2>
                            <p>Satisfied with our information, leave a review for others just like you</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <form action="#" class="call__form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Phone">
                            </div>
                            <div class="col-lg-6">
                                <select>
                                    <option value="">Choose Our Services</option>
                                    <option value="">Buy Cars</option>
                                    <option value="">Sell Cars</option>
                                    <option value="">Wash Cars</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="site-btn">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Call Section End -->


    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title testimonial-title">
                        <span>Testimonials</span>
                        <h2>What People Say About Us</h2>
                        <p>Our customers are our biggest supporters. What do they think of us? Lorem</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="{% static 'img/testimonial/testimonial-1.png' %}" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>John Smith /<span> CEO Colorlib</span></h5>
                                </div>
                            </div>
                            <p>For one thing they usually step all over the hedges and plants on the side of someone’s
                                house killing</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="{% static 'img/testimonial/testimonial-2.png' %}" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Emma Sandoval /<span> Marketing Manager</span></h5>
                                </div>
                            </div>
                            <p>It seems though that some of the biggest problems with the internet advertising trends
                                are the lack of</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="{% static 'img/testimonial/testimonial-1.png' %}" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>John Smith /<span> CEO Colorlib</span></h5>
                                </div>
                            </div>
                            <p>For one thing they usually step all over the hedges and plants on the side of someone’s
                                house killing</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__pic">
                                    <img src="{% static 'img/testimonial/testimonial-2.png' %}" alt="">
                                </div>
                                <div class="testimonial__item__author__text">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>Emma Sandoval /<span> Marketing Manager</span></h5>
                                </div>
                            </div>
                            <p>It seems though that some of the biggest problems with the internet advertising trends
                                are the lack of</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Counter Begin -->
    <div class="counter spad set-bg" data-setbg="{% static 'img/counter-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <h2 class="counter-num">{{ vehicles_count }}</h2>
                        <strong>+</strong>
                        <p>Vehicles Stock</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <h2 class="counter-num">{{ make_count }}</h2>
                        <strong>+</strong>
                        <p>Models on Sale</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="counter__item">
                        <h2 class="counter-num">{{ company_count }}</h2>
                        <strong>+</strong>
                        <p>Dealers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter End -->

    <!-- Clients Begin -->
    <div class="clients spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title client-title">
                        <span>Our Vehicle Dealers</span>
                        <h2>Our Partners</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <a href="#" class="client__item">
                        <img src="{% static 'img/clients/autocom.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6">
                    <a href="#" class="client__item">
                        <img src="{% static 'img/clients/beforward.png' %}" alt=""
                        height="150" width="195">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Clients End -->

{% endblock %}